body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* color: white; */
    background-image: url(./images/746406.jpg);
    background-size: cover;
    position: fixed;
}

.navbar_homepage {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    color: white;
    
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: whitesmoke;
}

.nav-links a:hover {
    border-radius: 5px;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 5px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    border-radius: 5px;
}



.battery_wifi{
    display: flex;
    margin: auto;
    align-items: center;
  }
  
  .bi-wifi::before {
    content: "\f61c";
    font-size: 18px;
  }
  
  .bi-battery-full::before {
    content: "\f186";
    font-size: 18px;
  }
  .icons{
    margin-top: 2px;
  }
  
  .battery_wifi span{
    margin-right: 7px;
    font-size: 16px;
  }

  #level{
    margin: 0;
  }
  
  #date{
    margin-right: 15px;
    margin-left: 10px;
  }

  .nav_battery{
    justify-content: center;
    display: flex;
  }

  /* nav{
    display: flex;
    width: 250px;
    position: absolute;
    justify-content: space-between;
    top: 4px;
    right: 4px;
    color: white;
    background-color: ;
  } */