body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(./images/746406.jpg);
    background-size: cover;
    position: fixed;
}

.navbar_homepage {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    color: white;
    
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: whitesmoke;
}

.nav-links a:hover {
    border-radius: 5px;
}


.dropdown {
    position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 5px;
  
}

.dropdown:hover .dropdown-content {
    display: block;
    backdrop-filter: blur(10px);
    background-color: #b7c1be9b;
}

.dropdown-content a {
    padding: 5px 15px ;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.dropdown-content a:hover {
    border-radius: 5px;
    background-color: rgb(163, 162, 162);
    color: aliceblue;
    /* padding:100px; */
}

.dropdown-content hr{
  margin: 3px;
}

.battery_wifi{
    display: flex;
    margin: auto;
    align-items: center;
  }
  
  .bi-wifi::before {
    content: "\f61c";
    font-size: 18px;
  }
  
  .bi-battery-full::before {
    content: "\f186";
    font-size: 18px;
  }
  .icons{
    margin-top: 2px;
  }
  
  .battery_wifi span{
    margin-right: 7px;
    font-size: 16px;
  }

  #level{
    margin: 0;
  }
  
  #date{
    margin-right: 15px;
    margin-left: 10px;
  }

  .nav_battery{
    justify-content: center;
    display: flex;
  }

.dock{
  display: flex;
  justify-content: center;
  bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  height: 80px;
  border-radius: 8px;
  backdrop-filter: blur(21px);
  background: transparent;
}

.dock-item {
    text-align: center;
    margin: 7px;
    color: rgb(39, 3, 3);
    cursor: pointer;
    transition: transform 0.2s;
    align-items: center;
    justify-content: center;
}

.dock-item:hover {
    transform: scale(1.2);
}

.dock-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

span {
    display: block;
    color: whitesmoke;
}